* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
}

.main {
  padding-top: 46px;
  text-align: center;
}

.panel {
  display: inline-block;
  vertical-align: middle;
}

.right-panel {
  width: 350px;
  height: 565px;
}

.box-top {
  width: 350px;
  height: 390px;
  border: 1px black solid;
  margin-bottom: 12px;
}

.box-bottom {
  width: 350px;
  height: 60px;
  border: 1px black solid;
  position: relative;
}

footer {
  margin-top: 65px; 
  height: 100px;
}

.app-links {
  text-align: center;
}

.app {
  display: inline-block;
  vertical-align: middle;
}

.apple {
  width: 125px;
  height: 47px;
  border: 1px solid black;
  margin-right: 7px;
}

.google {
  width: 125px;
  height: 47px;
  border: 1px solid black;
}

.box-bottom p {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up {
  text-decoration: none;
}

.message {
  height: 50px;

  position: relative;
}

.message p {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 350px;
  height: 120px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.user {
  border: 1px solid black;
  width: 260px;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 8px;
}

.pass {
  border: 1px solid black;
  width: 260px;
  height: 35px;
  padding-left: 8px;
  margin-bottom: 10px;
}

form {
  align-items: center;
}

.log-in {
  width: 270px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

.one {
  margin-top: 10px;
  margin-bottom: 14px;
  height: 30px;
  padding-top: 20px;
}

.two {
  height: 30px;
  margin-bottom: 2px;
}

.three {
  height: 30px;
}

.left {
  width: 117px;
}

.right {
  width: 117px;
}

.one {
  text-align: center;
}

.item {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  position: relative;
}

.logo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.row {
  text-align: center;
  margin: auto;
  height: 25px;
}

.row ul {
  list-style: none;
  display: inline-block;
}

.row ul li {
  float: left;
  margin: 5px;
}

.row ul li a {
  color: black;
  text-decoration: none;
}

.bottom {
  margin-top: 15px;
}

.bottom ul li {
  margin-left: 10px;
  margin-right: 10px;
}

.left-panel {
  width: 370px;
  height: 565px;
  margin-right: 35px;
}

.phone-one {
  display: inline-block;
  float: left;
  width: 80%; 
  height: 95%;
  border: 1px solid blue;
  border-radius: 30px;
}

.phone-two {
  margin-left: -230px;
  display: inline-block;
  width: 80%;
  height: 95%;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 30px;
}












