* {
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 46px;
  text-align: center;
}

.panel {
  display: inline-block;
  vertical-align: middle;
}

.left-panel {
  width: 370px;
  height: 565px;
  border: 1px black solid;
  background: red;
  margin-right: 35px;
}

.right-panel {
  width: 350px;
  height: 565px;
  /* border: 1px black solid; */
  /* background: blue; */
}

.box-top {
  width: 350px;
  height: 390px;
  border: 1px black solid;
  margin-bottom: 12px;
}

.box-bottom {
  width: 350px;
  height: 60px;
  border: 1px black solid;
  position: relative;
}

footer {
  margin-top: 50px; 
  height: 100px;
  border: 1px solid black;
}

.app-links {
  /* padding-top: 4px; */
  text-align: center;
}

.app {
  display: inline-block;
  vertical-align: middle;
}

.apple {
  width: 125px;
  height: 40px;
  border: 1px solid black;
  margin-right: 7px;
  
}

.google {
  width: 125px;
  height: 40px;
  border: 1px solid black;
}

.box-bottom p {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up {
  text-decoration: none;
}

.message {
  height: 50px;

  position: relative;
}

.message p {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}








